.mfgEditor{z-index: 500;}

.mfgEditor .fe-bd{background-color:#cac7be;}

.fe-switchs .fe-switch{font-size: 12px;color: #666;margin: 2px 5px 6px 15px;}
.fe-switchs .fe-switch:hover{text-decoration: none;}
.fe-switchs .fe-cur{color: #666;font-weight: bold;}

.mfgEditor .fe-More{cursor:pointer;margin-top:5px;height:14px;line-height:14px;font-size: 12px;color: #868275;background: url(img_s/fe-More.png) no-repeat 55% center;}
.mfgEditor .more-open{background: url(img_s/fe-More_hv.png) no-repeat 55% center;}

.mfgEditor .fe-btnItem{margin: 0px -1px 2px 4px;_display:inline;}
.mfgEditor .fe-btn{display: block;width: 42px;height: 36px;}
.mfgEditor .fe-btn:hover{text-decoration: none;}
.mfgEditor .fe-Math .fe-btn{background: url(img_d/fe-Math.png) no-repeat;}
.mfgEditor .fe-Chem .fe-btn{background: url(img_d/fe-Chem.png) no-repeat;}
.mfgEditor .fe-Style .fe-btn{background: url(img_d/fe-Chem.png) no-repeat;}
.mfgEditor .fe-ChemWrp,.mfgEditor .fe-MathWrp{display: none;}

.mfgEditor .fe-Math{overflow: hidden;}

.celltext {outline:none;background:none;vertical-align:middle;line-height:26px; height:26px;text-align: left;border: 0px;font-weight: 0;font-size: 14px;color: #666;font-family: '宋体','Times New Roman', Times, serif;}
#latex-input{width: 1px;height: 1px;opacity:0;filter:alpha(opacity=0);position:absolute;left:0px;bottom:0px;border:none;outline:none;background:none;resize:none; font-size: 1px; text-indent: -999px;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}
#latex-toget{opacity:0;filter:alpha(opacity=0);position:absolute;left:0px;bottom:0px;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}
#lastcell{ width: 100%;}
.editortablerow td{vertical-align: top;cursor: text;}
#latex-outplane{cursor: text;}
.formulaOutplane{position: relative;}

/**********弹框样式**************/
.keyboard_wrap {position: absolute; left: 50%;width: 500px; }
.keyboard_wrap .title {
	background: #ffffff;
        border: gray 1px solid;
         border-top-left-radius: 5px;
         border-top-right-radius: 5px;
        cursor: move;
        width: 100%;
        height: 30px;
        position: relative;
    }
.keyboard_wrap .content{  width: 100%;background-color:#cac7be;padding-bottom:5px;  border: gray 1px solid;border-top: 0; border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}
.all-icon{  display:inline-block;background: url('img_s/all_icons.png') no-repeat;cursor: pointer;}
.del-icon{position:absolute;right:18px;top:6px;z-index:2;background-position:-20px 0;width:18px;height: 18px;}
.del-icon:hover{background-position:-197px -1px;}
